.Todo-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px 30px;
    background-color: #303f9f;
    height: 58px;
    box-sizing: border-box;
    color: aliceblue;
    font-size: 0;
    z-index: 2;
}
.Todo-header__column {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: left;
}
.Todo-header__column--3 {
    width: 33.333333%;
}
.Todo-header__column--center {
    text-align: center;
}
.Todo-header__column--right {
    text-align: right;
}
.Todo-header__heading {
    color: aliceblue;
    font-weight: 500;
    font-size: 22px;
    margin: 10px 0;
}
.Todo-header__user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Todo-header__button-wrapper {
    padding: 6px 0;
}